<!-- main app container -->
<app-navbar></app-navbar>
<div class="row">

    <div class="admin-panel" style="background-color: rgba(6,6,6,0.9)">

        <app-menu></app-menu>

    </div>
    <div class="col-sm-9">
      <ng-http-loader
        [filteredUrlPatterns]="[]"
        [backgroundColor]="'#ff0000'"
        [spinner]="spinkit.skWave"
        [debounceDelay]="200"
        [minDuration]="300">
      </ng-http-loader>

      <app-mode style="padding-top: 2rem; padding-left: 4rem"></app-mode>

      <router-outlet></router-outlet>
    </div>
</div>
