<p></p>
<h3>Новости</h3>
<label class="control-label" ></label>
<div  *ngIf="success" class="alert alert-success col-sm-6">
  <a (click)="hide()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  {{message}}
</div>
<!-- Textarea -->
<div class="row">
    <textarea  [(ngModel)]="title" placeholder="Оглавление" maxlength="80" class="col-sm-6"></textarea>
</div>
<label class="control-label" ></label>

<!-- File Button -->
<div class="row">
    <input class="input-file сщд-іь-6" placeholder="Добавить файл..." type="file" accept="text/html" (change)="onChange($event)">
</div>

<!-- Button -->
<div class="control-group">
  <label class="control-label" ></label>
  <div class="controls">
    <button [disabled]="!title||!file" (click)="publish()" class="btn btn-info">Отправить</button>
  </div>
</div>
