.hashteg {
    margin: 1px;
}

.postform {
    margin-bottom: 50px;
}

.posts {
    margin: 10px;
}

.admins-wrap {
  margin-top: 2rem;
  margin-left: 3rem;
}
.admins-wrap h2 {
  margin-bottom: 2rem;
}
