<p></p>
<div [ngSwitch]="isAuthenticated()">
  <div *ngSwitchCase="true" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
       (scrolled)="onScrollOperations()" [scrollWindow]="false" style="height: 500px; overflow-y: auto;">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Аккаунт</th>
                    <th scope="col">Дата</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let o of accounts">
                    <td>{{o.name}}</td>
                    <td>{{o.account}}</td>
                    <td>{{o.date|date:'dd.MM.yy'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
